<h2>Exercice: Basic Bootstrap Form</h2>



<div class="main">
    <form class="formClass" #f="ngForm" (ngSubmit)="submit(f)">
        <div class="form-group">
            <label for="firstName">First Name</label>
                <!-- Input field with validation -->
                <input required type="text" class="form-control" placeholder="First Name" ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)">
                    <!-- To display alert message for above text field. -->
                <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">FirstName Field is required</div>
                <!-- <input type="text" class="form-control" placeholder="First Name" > -->
        </div>
        <div class="form-group">
            <label for="secondName">Second Name</label>
                <input type="text" class="form-control" placeholder="Second Name" >
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea id="comment" cols="30" rows="10" class="form-control" placeholder="Enter Your Comment here..."></textarea>
        </div>

        <!-- checkbox fields -->
        <!-- <div class="checkbox" style="padding-left: 20px;">
            <label>
                <input type="checkbox" ngModel name="isSubscribed">
            </label>
        </div> -->

        <!-- Drop-down list -->
        <!-- <div class="form-group">
            <label for="contactMethod">Contact Method</label>
            <select  ngModel name="contactMethod" id="contactMethod" class="form-control">
                <option value="">None</option>
                <option *ngFor="let methods of contactMethod" [ngValue]="methods">{{methods.name}}</option> --> -->
                <!-- <option *ngFor="let methods of contactMethod" [value]="methods.id">{{methods.name}}</option> -->
            <!-- </select>
        </div>  -->

        <!-- Radio button dynamic way-->
        <!-- <div *ngFor="let method of contactMethod" class="radio">
            <label>
                <input ngModel type="radio" name="contactMethod" [value]="method.id">
                {{method.name}}
            </label>
        </div> -->

        <!-- Radio button normal way-->
        <!-- <div class="radio">
            <label>
                <input ngModel type="radio" name="contactMethod" value="1">Email
            </label>
        </div> -->

        <!-- For validation the text fields and if valid then only the button enable other vise disabled.
            ( [disabled]="!f.valid ) -->
        <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
    </form>

    <!-- dynamic data has to be displayed here -->
    <p>{{ f.value | json}}</p>
</div>
