<h2>Exercice: Course Forms</h2>


<div class="main">
    <form action="" class="formClass">
        <h3 class="heading">Course Forms</h3>
        <div class="form-group">
            <label for="firstName">First Name</label>
                <input required type="text" class="form-control" name="firstName" placeholder="Enter your firstName..">
            
        </div>
        <div class="form-group">
            <label for="firstName">Second Name</label>
                <input required type="text" class="form-control" name="secondName" placeholder="Enter your secondName..">
            
        </div>
        <div class="form-group">
            <label for="firstName">Course</label>
                <!-- <input type="text" class="form-control" name="firstName" placeholder="Please Select the option.."> -->
                <select ngModel name="contactMethod" id="contactMethod">
                    <option *ngFor="let methods of contactMethod" [value]="methods">{{methods.name}}</option>
                   
                </select>
            
        </div>

        <button class="btn btn-primary">Send</button>
    </form>
</div>