<div >
    <app-employee></app-employee>
    <hr>



    <!-- <h2>Exercise- Authors</h2> -->
    <author></author>
    <hr>

    <!-- <h2>Binding</h2> -->
    <app-binding></app-binding>

    <hr>
    <!-- <h2>favorite works!</h2> -->
    <app-favorite></app-favorite>

    <!-- <h2>Title Casing...</h2> -->
    <app-demotitle></app-demotitle>


    <!-- LikeComponent -->
    <!-- <app-like
        [likeCount]="tweet.likeCount"
        [isActive]="tweet.isLiked"
    ></app-like> -->


    <!-- Directive -->
    <zippy title="Shopping Details">
        Shopping Details content
    </zippy>


    <!-- Template-Driven-Forms -->
    <contact-form></contact-form>

    <!-- Course Form -->
    <course-form></course-form>


    <signup-form></signup-form>


    <form-array></form-array>

    <change-password></change-password>
</div>



